{% extends 'layout/base.html' %}

{% block 'content' %}

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1 class="text-center mt-3"> {{task.title}} </h1>
    
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {{error}}
            <button class="btn btn-primary m-lg-1">
                Update
            </button>
        </form>
      
        <form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-secondary m-lg-1">
            Complete
        </button>
        </form>
       
  
        <form action="{% url 'delete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger m-lg-1">
            Delete
        </button>
        </form>
    </div>

    </div>
    </main>
{% endblock %}